.about {
	margin-top: 6.615vw;
}

.aboutWrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.textBlock {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.title {
	color: #282829;
	font-family: Cakra;
	font-size: clamp(20px, 2.083vw, 40px);
	font-weight: 400;
	line-height: 95.5%; /* 38.2px */
}

.accordion {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.accordionItem {
	display: flex;
	flex-direction: column;
	transition: background-color 0.3s ease-out, height .3s ease-out;
	border-radius: 30px;
	height: clamp(50px, 4.427vw, 85px);
	overflow: hidden;
	cursor: pointer;
}

.accordionItem.active {
	background-color: #CCF437;
	border-radius: 30px;
}

.accordionHeader {
	padding: 1.51vw 2.969vw 1.458vw 4.479vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #282829;
	font-family: Raleway;
	font-size: clamp(16px, 1.25vw, 24px);
	font-weight: 600;
	line-height: 95.5%; /* 22.92px */
	cursor: pointer;
}

.arrow {
	padding: 9px 6px;
	border-radius: 20px;
	border: 1.5px solid #282829;
	transition: transform 0.3s ease-out;
}

.arrow.rotate {
	transform: rotate(180deg);
}

.accordionBody {
	margin-top: 2.604vw;
	padding: 0px 0px 2.969vw 4.479vw;
	color: #282829;
	font-family: Raleway;
	font-size: clamp(14px, 1.042vw, 20px);
	font-weight: 600;
	line-height: 125.5%; /* 25.1px */
	transition: max-height 0.5s ease-out, padding 0.3s;
}
