@import url("./fonts/Cakra/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.globalWrapper {
	max-width: 83.333vw;
	width: 100%;
	margin: 0 auto;
}

.text {
	color: #282829;
	font-family: Raleway;
	font-size: clamp(14px, 1.042vw, 20px);
	font-weight: 600;
}